.direction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  margin-top: 50px;
  width: auto;
  display: inline-block;
  border: black 1px solid;
  border-radius: 20px;
  
}
.button{
  display: flex;
  flex-direction: column;
}
.form{
  padding: 10px;
}
.caixa{
  margin: 20px;
}