<ion-header>
  <ion-toolbar>
    <ion-title>adicionar-contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="drection"
  style="display: flex;flex-direction: column;align-items: center;
  justify-content: center;">
  <form action="">
    <div class="form">
      <div class="caixa">
      <ion-label>Nome :</ion-label>
      <ion-input type="text"
       [(ngModel)]="nome"
       name="nome"
       placeholder="Digite seu nome"
       ></ion-input>
    </div>
    <div class="caixa">
      <ion-label>Sobrenome :</ion-label>
      <ion-input type="text" [(ngModel)]="sobrenome"
      name="sobrenome"
      placeholder="Digite seu sobrenome"></ion-input>
    </div>
    <div class="caixa">
      <ion-label>email :</ion-label>
      <ion-input type="text"
       [(ngModel)]="email"
       name="email"
      placeholder="Digite seu email"></ion-input>
    </div>

    <div class="button">
      <ion-button
      (click)="salvar()">Salvar</ion-button>
      <ion-button routerLink="/home">Voltar</ion-button>
    </div>
    </div>
  </form>
  <b style="color: red;
  margin: 10px;">
    {{mensagem}}
  </b>
  </div>

</ion-content>
