<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Projeto da competência 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <h2>Meus contatos</h2>

<div class="buttons">
    <ion-button routerLink="/listar-contatos" expand="block" color="primary">
    Listagem de contatos
  </ion-button>
    <ion-button routerLink="/adicionar-contatos" expand="block" color="primary">
    Adicionar de contatos
  </ion-button>
</div>
</ion-content>
